%header
  %h2 Listing Posts

%section
  %ul
    - @posts.each do |post|
      %li.post
        %h3= "#{post.title} (#{post.updated_at.to_s})"
        %p= post.category
        %p= post.tags.map(&:name).join(', ')
        %p= post.content
        %span
          = link_to 'Delete', post, :method => :delete
          = button_to 'Confirm Deletion', post, :method => :delete


  = link_to 'New Post', new_post_path, :id => 'new'

%section.overlay
  %header
    %h2 New Post

  %article
    = semantic_form_for @post, :html => { :class => 'ui-widget' } do |f|
      = f.inputs do
        = f.input :title, :required => true, :input_html => { :class => 'ui-widget-content ui-corner-all' }
        = f.input :content, :required => true, :input_html => { :class => 'ui-widget-content ui-corner-all' }
        = f.input :category, :input_html => { :class => 'ui-widget-content ui-corner-all' }
        = f.input :tags, :as => :check_boxes, :input_html => { :class => 'ui-widget-content ui-corner-all' }

      = f.buttons do
        = f.commit_button
        = f.commit_button 'Cancel', :button_html => {:name => 'cancel'}

