%h2 New Post

= semantic_form_for @post, :html => { :class => 'ui-widget' } do |f|
  = f.input :title, :required => true, :input_html => { :class => 'ui-widget-content ui-corner-all' }
  = f.input :content, :required => true, :input_html => { :class => 'ui-widget-content ui-corner-all' }
  = f.input :tags, :required => true, :input_html => { :class => 'ui-widget-content ui-corner-all' }
  = f.commit_button

